/* обнуление */


*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
   padding: 0;
   margin: 0; 
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1px;
   font-size: 14px;
   background-color: #FAFAFA;
   color: #252B42;
   font-weight: 500;
   font-family: Montserrat;
}
/* общие стили контейнера */
.wpapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1046px;
   padding: 0px 15px;
   margin: 0 auto;
   box-sizing: content-box;
}

._ibg {
   position: relative;
}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* оформление хереда */

.header {
   position: absolute; 
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 104px;
   align-items: center;
}

@media (max-width: 479px) {
   .header__container {
      min-height: 70px;
   }
}

.header__logo {
   font-weight: bold;
   font-size: 24px;
   color: inherit;
}

.header__menu {
   margin: 0px 0px 0px 133px;
}
/* media for tabletka */
@media (max-width: 992px) {
   .header__menu {
      margin: 0px 0px 0px 80px;
   }
}
/* media for mobilka */
@media (max-width: 767px) {
   .header__menu {
      margin: 0px 0px 0px 40px;
   }
}
@media (max-width: 479px) {
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}

.menu {
   padding: 5px 0px; 
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu__item:not(:last-child) {
   margin: 0px 21px 0px 0px;
}

.menu__link {
   color: #737373;
   font-weight: 600;
   line-height: 171%;
}

.menu__link:hover {
   text-decoration: underline;
}

@media (max-width: 479px) {
   .menu__link {
      font-size: 18px;
   }
}

/* конец оформления хедера */

/* page */
.page {
   flex: 1 1 auto;
}

.page__services {
   position: relative;
   z-index: 2;
   margin-top: -111px;
}

.page__whoweare {
background-color: #fff;
}

.page__clients {
   margin-bottom: 10px;
}


/* end page */

/* общий блок для повторяющихся заголовкрв  */
.header-block {
   text-align: center;
   letter-spacing: 0.2px;
}
.header-block__title {
   font-size: 40px;
   line-height: 57px;
   font-weight: 700;
   color: #252B42;
   padding-top: 50px;
}


@media (max-width: 992) {
   .header-block__title {
      font-size: 35px;
      padding-top: 50px;
   }
}

@media (max-width: 767) {
   .header-block__title {
      font-size: 30px;
   }
}

.header-block__title:not(:last-child) {
   padding-bottom: 10px;
}
.header-block__sub-title {
   line-height: 20px;
   color: #737373;
}

/* END page */

/* main block */

.main-block {
   position: relative;
}

.main-block__body {
   position: relative;
   padding: 184px 0px 191px 0px;
   max-width: 400px;
   z-index: 2;
}

@media (max-width: 1300px) {
   .main-block__body{
      padding: 120px 0px 191px 0px;
   }
}

.main-block__body > *:not(:last-child){
   margin-bottom: 35px;
}

.main-block__title {
   font-size: 58px;
   line-height: calc(80 / 58 * 100%);
   font-weight: 800;
   letter-spacing: 0.2px;
}

@media (max-width: 479px) {
   .main-block__title {
      font-size: 42px;
   }
}

.main-block__text {
   color: #737373;
   font-size: 20px;
   line-height: 30px;
}

@media (max-width: 479px) {
   .main-block__text {
      color: #474747; 
   }
}
.main-block__buttons {
   display: flex;
   flex-wrap: wrap;
   margin: -10px 0px;
   
}
.main-block__button {
   border-radius: 37px;
   display: flex;
   min-height: 48px;
   justify-content: center;
   align-items: center;
   padding: 5px 36px;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 150%;
   text-align: center;
   margin: 10px 0px;
}

@media (max-width: 479px) {
   .main-block__button {
      flex: 1 1 auto;
   }
}

@media (max-width: 479px) {
   .main-block__button:not(:last-child) {
      margin-right: 10px;
   }
}

.main-block__button_orange {
   background: #FF7B47;
   color: #ffffff;
}
.main-block__button-border {
   color: #0D5C63;
   border: 1px solid #0D5C63;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

@media (max-width: 1300px) {
   .main-block__image  img {
      object-position: right;
   }
}

@media (max-width: 992px) {
   .main-block__image {
      opacity: 0.5;
   }
}

/* services */


@media (min-width: 670px) {
   .services__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -15px -30px;
   }
}
.services__column {
   /* display: flex; */
   /* padding: 0px 15px; */
   flex: 0 1 30%;
   margin: 0px 0px 30px 0px;
}

@media (min-width: 670px) {
   .services__column {
      flex-wrap: wrap;
      padding: 0px 15px;
   }
}

@media (max-width: 992px) {
   .services__column {
      flex: 0 1 45%;
      margin-bottom: 30px;
      flex-wrap: wrap;
   }
}
.services__item {
   /* height: 100%;  */
   box-shadow: 0px 13px 19px rgb(0,0,0, 0.07);
   background-color: #fff;
   padding: 35px 40px;
}

@media (max-width: 479px) {
   .services__item {
      padding: 25px;
   }
}



.item-services__title {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 0.1px;
   color: #252B42;
}
.item-services__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #737373;
}
.item-service_green {
   background-color: #0D5C63;
}

.item-service_green .item-services__title {
   color: white;
}

.item-service_green .item-services__text {
   color: white;
}
/*End services */


/* advantages */

.advantages {
   padding: 80px 0px;
}
@media (max-width: 992) {
   .advantages {
      padding: 50px 0px;
   }
}
@media (max-width: 767) {
   .advantages {
      padding: 30px 0px;
   }
}

.advantages__header {
   margin-bottom: 50px;
}

@media (max-width: 767) {
   .advantages__header {
      margin-bottom: 25px;
   }
}
.advantages__body {
   display: flex;
   margin: 0px -15px;
   flex-wrap: wrap;
}
.advantages__column {
   padding: 0px 15px;
   flex: 0 1 20%;
   
   /* height: 100%; */
}
@media (max-width: 992px) {
   .advantages__column {
      flex: 0 1 45%;
      align-items: center;
      padding-bottom: 30px;
      box-shadow: 5px  rgb(0,0,0, 0.07);
   }
}

@media (max-width: 615px) {
   .advantages__column {
      flex: 0 1 100%;
   }
}

.advantages__item {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: #fff;
   padding: 15px 40px;
   text-align: center;
}

.advantages__item > *:not(:last-child) {
   padding-bottom: 10px;
}
.advantages__icon {
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.advantages__value {
   font-size: 40px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color: #252B42;
   font-weight: bold;
}
.advantages__text {
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #737373;
   font-weight: bold;
}
/* end advantages */

/* practice */


.practice {
   padding: 125px 0px 80px 0px;
}

@media (max-width: 933px) {
   .practice {
      padding: 40px 0px 80px 0px;
   }
}

@media (max-width: 767px) {
   .practice {
      padding: 0px 0px 40px 0px;
   }
}

.practice__header {
   margin-bottom: 45px;
}

@media (max-width: 767px) {
   .practice__header {
      margin-bottom: 25px;
   }
}
.practice__body {
   margin: 0px -20px -30px;
   display: flex;
   flex-wrap: wrap;
}
.practice__column {
   padding: 0px 20px 30px;
   flex: 0 1 20%;
}

@media (max-width: 1030px) {
   .practice__column {
      flex: 0 1 45%;
   }
}

@media (max-width: 804px) {
   .practice__column {
      flex: 0 1 100%;
   }
}

.item-practice {
   background-color: #fff;
   display: flex;
   height: 100%;
   flex-direction: column;
}
.item-practice__content {
   padding: 30px;
   flex: 1 1 auto;
}

.item-practice__link { 
   color: inherit;
   display: inline-block;
}

.item-practice__link:hover {
   text-decoration: underline;
}

.item-practice__link:not(:last-child) {
   padding-bottom: 15px;
}
.item-practice__title {
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px; 

}
.item-practice__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #737373;
}
.item-practice__image {
   cursor: pointer;
   display: block;
   padding: 0px 0px 60% 0px;
}

/* end practice */

/* whoweare */
.whoweare {
   padding: 80px 0px 130px 0px;
}
@media (max-width: 950px) {
   .whoweare {
      padding: 50px 0px 50px 0px;
   }
}

.whoweare__header {
   padding-bottom: 100px;
}

@media (max-width: 950px) {
   .whoweare__header {
      padding: 0px 0px 30px 0px;
   }
}
.whoweare__topnot:not(:last-child) {
   margin: 0px 0px 50px 0px;
}
.whoweare__body {
   display: flex;
   align-items: flex-start;
   padding-bottom: 100px;
}
@media (max-width: 950px) {
   .whoweare__body {
   flex-direction: column-reverse;
   align-items: stretch;
   }  
}
.whoweare__video {
   flex: 0 0 57%;
   position: relative;
   padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.whoweare__content {
   flex: 1 1 auto;
   padding: 20px 0px 0px 121px;
}

@media (max-width: 1080px) {
   .whoweare__content {
      padding: 0px 0px 0px 50px;
   }
}

@media (max-width: 992px) {
   .whoweare__content {
      padding: 0px 0px 0px 20px;
   }
}
.whoweare__title {
   font-weight: bold;
   font-size: 40px;
   line-height: 57px;
   letter-spacing: 0.2px;
   color: #252B42;
}

@media (max-width: 950px) {
   .whoweare__title {
      font-size: 24px;
   }
}

.whoweare__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #737373;
   padding-bottom: 30px;
}

.whoweare__item {
   display: flex;
   padding-bottom: 30px;
}


.item_whoweare__icon {
   margin: 0px 20px 0px 0px;
}
.item_whoweare__body {
   flex: 1 1 auto;
}
.item_whoweare__title {
   font-family: inherit;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #252B42;
   padding-bottom: 10px;
}
/* end whoweare */

/* clients */

.clients {
   padding: 50px 0px;
}

@media (max-width: 767px) {
   .clients {
      padding: 25px 0px;
   }
}


.clients__items {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.clients__item {
   padding: 8px 0px;
   flex: 0 1 16.6667%;
   text-align: center;
   min-width: 140px;
}

.clients__item img {
   min-width: 100%;
}
/* end clients */


/* subscribe */

.subscribe {
   position: relative;
   padding-bottom: 20px;
}

.subscribe::before {
   content: " ";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;
   background-color: #252B42;
}


.subscribe__body {
   position: relative;
   z-index: 2;
   padding: 30px 50px;
   align-items: center;
   background-color: #17213C;
}

@media (min-width: 1070px) {
   .subscribe__body {
      margin: 0px 30px; 
   }
}

@media (min-width: 810px) {
   .subscribe__body {
      display: flex;
      justify-content: space-between;
   }
   .subscribe__title {
      max-width: 266px;
   }
}
.subscribe__title {
   flex: 0 1 50%;  
   font-weight: bold;
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 0.1px;
   color: #FFFFFF;
}

@media (max-width: 810px) {
   .subscribe__title {
      margin-bottom: 20px;
   }
   .subscribe__body {
      margin: 0px -15px;
      padding: 20px 1  5px;
   }
}

.subscribe__form {
   display: flex;
   flex: 0 1 50%;
   align-items: center;
}

.subscribe__input {
   width: 100%;
   flex: 1 1 auto; 
   min-height: 58;
   background: #F9F9F9;
   padding: 16px 24px;
   border-radius: 5px 0px 0px 5px;
   border-right: 0px;
   box-sizing: border-box;
}

.subscribe__input:focus {
   color: black; 
}

.subscribe__button {
   background: #FF7B47;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
   padding: 15px 23px;
   display: flex;
   min-height: 58;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
}

@media (max-width: 810px) {
   .subscribe__button {
      padding: 15px 15px;
   }
   .subscribe__input {
      padding: 15px 15px;
   }
}

/* subscribe */ 


/* get in touch */

.getintouch {
   padding: 80px 0px 136px 0px;
}

.getintouch__header {
   padding-bottom: 80px;
}

.getintouch__items {
   display: flex;
}

.getintouch__items {
   margin: 0 -15px;
   display: flex;
}

@media (max-width: 767px) {
   .getintouch__items {
      margin: 0;
      display: flex;
      flex-direction: column;
   }   
}

@media (max-width: 992px) {
   .getintouch {
      padding: 50px 0px 50px 0px;
   }
   .getintouch__header {
      padding-bottom: 50px;
   }
}

@media (min-width: 767px) {
   .getintouch__header {
      padding-bottom: 30px;
   }
}

.getintouch__item {
   flex: 0 1 33.333%
}

.item_getintouch {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #fff;
   padding: 50px 40px;
}

.item-getintouch_active {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 80px 40px;
   background: #252B42;
   color: white;
}

.item-getintouch_active .item_getintouch__button {
   border: 1px solid #F9F9F9;
   color: #F9F9F9;
} 

.item_getintouch__icon {
   padding-bottom: 15px;
}
.item_getintouch__emails {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.item_getintouch__email {
   color: inherit;
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.2px;
   padding-bottom: 15px;
}

.item_getintouch__email:hover {
   text-decoration: underline;
}
.item_getintouch__label {
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1px;
   color: #252B42;
   padding-bottom: 15px;
}
.item_getintouch__button {
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: #FF7B47;
   border: 1px solid #FF7B47;
   border-radius: 5px;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.item_getintouch__button:hover {
   background-color:  #FF7B47;
   color: white;
}

/* end get in touch */

/* contact us */


.contact {
   background-color: #fff;
   padding: 40px 0;
}

.contact__content {
   padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
   .contact__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .contact__content {
      padding: 0px 20px 0px 0px;
   }
}

.contact__title {
   font-weight: bold;
   font-size: 24px;
   line-height: 133%;
   letter-spacing: 0.1px;
   color: #252B42;
}
.contact__text {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 0.2px;
   color: #737373;
}
.contact__button {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-weight: bold;
   font-size: 14px;
   line-height: 28px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   padding: 15px 40px;
   background: #FF7B47;
   border-radius: 5px;
   border: none;
   min-height: 58px;
}

.contact__button:hover {
   background: #9e4e2f;
}
/* end contact us */

/* main block */



/* footer */

.footer__top {
   background-color: #17213C;
   padding: 30px 0;
   color: #fff;
}


.footer__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
}

.footer__column {
   padding: 20px 15px;
   flex: 0 1 16.667%;
   min-width: 180px;
}

.footer__label {
   color: #fff;
   font-weight: bold;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0.1px;
   margin: 20px 0px;
}

.menu-footer__item {
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
}
.menu-footer__link {
   color: #fff;
   display: inline-block;
   line-height: 170%;
}

.menu-footer__link:hover{
   text-decoration: underline;
}

.contacts-footer {
   display: flex;
   flex-direction: column;
}

.contacts-footer__item:hover{
   text-decoration: underline;
}
.contacts-footer__item {
   padding-left: 34px;
   display: flex;
   align-items: center;
   min-height: 30px;
   color: #fff;
   line-height: 142%;
}
.contacts-footer__item:not(:last-child) {
   margin: 0px 0px 15px 0px;
}
.contacts-footer__item_phone {
   background: url(/img/footer/footersvg/01.svg) left no-repeat;
}
.contacts-footer__item_map {
   background: url(/img/footer/footersvg/02.svg) left no-repeat;
}

.contacts-footer__item_email {
   background: url(/img/footer/footersvg/03.svg) left no-repeat;
}
.footer__bottom {
   padding: 25px 0;
}


@media (min-width: 767px) {
   .footer__container {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
   }
}

.footer__copy {
   font-weight: 600;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: #737373;
}

._social {
   display: flex;
   align-items: center;
}
.social__item {
   padding-left: 20px;
}
@media (min-width: 767px) {
   .footer__container {
      flex-direction: column;
   }
   .footer__copy {
      padding-bottom: 15px;
      text-align: center;
   }
}

/* END footer */